#root{
  flex:1 0 auto;
}

.App {
  text-align: center;
  font-family: 'Raleway';
  display: flex;
  display: table;
  flex-direction: column;
  height: 100%;
  width:100%;
}

.Site-content{
  flex: 1 0 auto;
  padding-bottom: 60px;
  display:flex;
  display:table;
  height:100%;
  width:100%;
  flex-direction: column;
  text-align: center;
}

/*header styles*/
.App-header {
  background-color: rgb(127,180,65);
  margin-bottom: 20px;
  padding: 15px;
}

.App-title {
  margin: 0;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 90px;
}

.App-intro {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1em;
}

/*form styles*/
.picture-sentence-container{
  padding: 6em;
  border: 1px solid black;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: row;
}

#sentence-strip {
  margin: 20px 30px;
  width:100%;
}

input[type=text]{
  font-family: 'Raleway';
  font-size: 30px;
  width:100%;
  height: 5em;
  padding-left:10px;
  flex: 3;
}

.play-btn{
  font-family: 'Raleway';
  height: 100%;
  font-size: 30px;
  color: #ffffff;
  background-color: rgb(275,105,143);
  flex: 1;
}

.play-button-image{
  width:15vh;
  height:10vh;
}

/*tabs styles*/
.tabs{
  font-family: 'Raleway';
  font-size: 20px;
  padding: 20px 20px 0 20px;
  border-bottom: 2px solid rgb(290,190,15);
}

.link {
  display: inline-block;
  color: #ffffff;
  background-color: rgb(290,190,15);
  padding: 4px 20px;
  margin-right: 5px;
  text-decoration: none;
}

.is-active {
  background-color: #ffffff;
  color: rgb(290,190,15);
  text-decoration: none;
  border-top: 1px solid rgb(290,190,15);
  border-left: 1px solid rgb(290,190,15);
  border-right: 1px solid rgb(290,190,15);
}

/*card container styles*/
.cards-container{
  border: 2px solid #ffedf1;
  height: 100%;
  padding: 20px;
  background-color: #fdfaf5;
}

.cards {
  width: 255px;
  height: 255px;
  margin: 5px;
}

.icons-button{
  margin: 5px;
  height:255px;
  width: 255px;
}

.icons-button:focus{
  outline:0;
}

/*footer styles*/
footer {
  margin: 0;
  padding:2em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: silver;
  font-size: 1.3rem;
  background-color: rgb(15,135,150);
 }

footer p{
  margin:0;
}

.heart{
  color: rgb(275,105,143);
}

.footer{
  padding-top: 60px;
}

